# DAEN 690 Capstone Project

## Import Libraries

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns
import warnings
import numpy as np
from datetime import datetime, timedelta
import warnings

## Importing Dataset, Creating Dataframe, and Standardizing Data

### Import Dataset

In [2]:
#load Dataset
#Example input for file name is USM00072528-data.txt
file = input("Please enter file name: ")
#Entering in the city name will be used for the plots in the EDA section
city = input("Please input the station's city name: ")
df = pd.read_csv(file, sep = '\t', header = None)

Please enter file name:  USM00072528-data.txt
Please input the station's city name:  Buffalo

In [3]:
#Raw Text File
df

                                                         0
0        #USM00072528 1929 12 16 99 1130    3          ...
1        31 -9999  -9999   215 -9999 -9999 -9999    90 ...
2        30 -9999  -9999   250 -9999 -9999 -9999    90 ...
3        30 -9999  -9999   500 -9999 -9999 -9999    90 ...
4        #USM00072528 1929 12 16 99 2130    4          ...
...                                                    ...
5108384  20  9619   1478 28172B -526B   28   266    77 ...
5108385  20  9656   1434 28369B -495B   28   274    73 ...
5108386  20  9703   1426 28405B -489B   27   277    72 ...
5108387  20  9846   1300 29014B -467B   25   289    91 ...
5108388  20  9906   1275 29143B -466B   24   291    90 ...

[5108389 rows x 1 columns]

In [4]:
#This saves the id_number to be used in the standardize_dataset function
id_number = file.split('-')[0]

In [5]:
#This function helps to standardize the dataset using the following steps:
#1. Parsing the text file
#2. Assiging the parsed text to columns in our DataFrame
#3. Combining the header records and data records
#4. Dropping any null rows
#5. Assigning the correct data types to our columns
#6. Adding date and datetime values
#7. Returning the standardized DataFrame
def standardize_dataset(id_number, df):
#Header Records    
    id_ = []
    year = []
    month = []
    day = []
    hour = []
    reltime = []
    numlev = []
    p_src = []
    np_src = []
    lat = []
    lon = []
#Data Records    
    lvltyp1 = []
    lvltyp2 = []
    etime = []
    press = []
    pflag = []
    gph = []
    zflag = []
    temp = []
    tflag = []
    rh = []
    dpdp = []
    wdir = []
    wspd = []

#Parsing data from text file        
    for line in df[0]:
        if id_number in line:
            id_.append(line[0:12].strip())
            year.append(line[13:17].strip())
            month.append(line[17:20].strip())
            day.append(line[20:23])
            hour.append(line[23:26])
            reltime.append(line[27:31])
            numlev.append(line[33:36])
            p_src.append(line[37:45])
            np_src.append(line[46:54])
            lat.append(line[56:62])
            lon.append(line[64:71])
            lvltyp1.append(None)
            lvltyp2.append(None)
            etime.append(None)
            press.append(None)
            pflag.append(None)
            gph.append(None)
            zflag.append(None)
            temp.append(None)
            tflag.append(None)
            rh.append(None)
            dpdp.append(None)
            wdir.append(None)
            wspd.append(None)
        else:
            id_.append(None)
            year.append(None)
            month.append(None)
            day.append(None)
            hour.append(None)
            reltime.append(None)
            numlev.append(None)
            p_src.append(None)
            np_src.append(None)
            lat.append(None)
            lon.append(None)
            lvltyp1.append(line[0:1].strip())
            lvltyp2.append(line[1:2].strip())
            etime.append(line[3:8].strip())
            press.append(line[9:15].strip())
            pflag.append(line[15:16].strip())
            gph.append(line[16:21].strip())
            zflag.append(line[21:22].strip())
            temp.append(line[22:27].strip())
            tflag.append(line[27:28].strip())
            rh.append(line[28:33].strip())
            dpdp.append(line[33:39].strip())
            wdir.append(line[40:45].strip())
            wspd.append(line[46:51].strip())

#Adding parsed data to data frame.    
    df = pd.DataFrame({
        'id_': id_,
        'year': year,
        'month': month,
        'day': day,
        'hour': hour,
        'reltime': reltime,
        'numlev': numlev,
        'p_src': p_src,
        'np_src': np_src,
        'lat': lat,
        'lon': lon,
        'lvltyp1': lvltyp1,
        'lvltyp2': lvltyp2,
        'etime': etime,
        'press': press,
        'pflag': pflag,
        'gph': gph,
        'zflag': zflag,
        'temp': temp,
        'tflag': tflag,
        'rh': rh,
        'dpdp': dpdp,
        'wdir': wdir,
        'wspd': wspd})
    
 #Combining header and data rows.    
    df['id_'].fillna(method = 'ffill', inplace = True)
    df['year'].fillna(method = 'ffill', inplace = True)
    df['month'].fillna(method = 'ffill', inplace = True)
    df['day'].fillna(method = 'ffill', inplace = True)
    df['hour'].fillna(method = 'ffill', inplace = True)
    df['reltime'].fillna(method = 'ffill', inplace = True)
    df['numlev'].fillna(method = 'ffill', inplace = True)
    df['p_src'].fillna(method = 'ffill', inplace = True)
    df['np_src'].fillna(method = 'ffill', inplace = True)
    df['lat'].fillna(method = 'ffill', inplace = True)
    df['lon'].fillna(method = 'ffill', inplace = True)

#Drop any null rows    
    df = df.dropna()

#Assigning Data Types
    df['id_'] = df['id_'].astype(str)
    df['year'] = df['year'].astype(int)
    df['month'] = df['month'].astype(int)
    df['day'] = df['day'].astype(int) 

    df['hour'] = df['hour'].astype(int)
    df['reltime'] = df['reltime'].astype(int)
    df['numlev'] = df['numlev'].astype(int)
    df['p_src'] = df['p_src'].astype(str)
    df['np_src'] = df['np_src'].astype(str)
    df['lat'] = df['lat'].astype(int)
    df['lon'] = df['lon'].astype(int)
    df['lvltyp1'] = df['lvltyp1'].astype(int)
    df['lvltyp2'] = df['lvltyp2'].astype(int)
    df['etime'] = df['etime'].astype(str)
    df['press'] = df['press'].astype(int)
    df['pflag'] = df['pflag'].astype(str)
    df['gph'] = df['gph'].astype(int)
    df['zflag'] = df['zflag'].astype(str)
    df['temp'] = df['temp'].astype(int)
    df['tflag'] = df['tflag'].astype(str)
    df['rh'] = df['rh'].astype(int)
    df['dpdp'] = df['dpdp'].astype(int)
    df['wdir'] = df['wdir'].astype(int)
    df['wspd'] = df['wspd'].astype(int)
    
#Standardizing Date    
    df['date'] = pd.to_datetime(df[['month', 'day', 'year']])

#Standardizing Datetime
#Make sure that etime values of -9999 and -8888 are not calculated as this will return an error
    df['etime'] = df['etime'].replace(['-9999', '-8888'], '0')
    
#Ensure every etime value is the same length
    df['etime'] = df['etime'].apply(lambda x: x.zfill(5) if x != '0' else '00000')
    
#Calculate actual hours which is first 3 values of etime divided by 60. The integer value from the dvision will 
#than be added to the launch time our to get our actual hour time.
    df['actual_hours'] = df.apply(lambda row: int(row['etime'][:3]) // 60 + row['hour'] if row['hour'] != 99 else int(row['etime'][:3]) // 60, axis=1)
    
#Minutes is calculated by the first 3 values of etime modulo 60.
    df['minutes'] = df['etime'].str[:3].astype(int) % 60
    
#Seconds is the last two digits of etime. 
    df['seconds'] = df['etime'].str[-2:].astype(int)
    
#Combining the hours, minutes, and seconds.
    df['combined_time'] = pd.to_timedelta(df['actual_hours'], unit='h') + \
                 pd.to_timedelta(df['minutes'], unit='m') + \
                 pd.to_timedelta(df['seconds'], unit='s')
    
#Combining date and combined time
    df['timestamp'] =  df['date'] + df['combined_time']
    
#Drop combined time value
    df.drop(columns = ['combined_time'], inplace = True)
    
    return df

In [6]:
#Standardized DataFrame
print(city)
warnings.simplefilter(action = 'ignore', category = FutureWarning)
df_std = standardize_dataset(id_number, df)
df_std

Buffalo

,id_,year,month,day,hour,reltime,numlev,p_src,np_src,lat,...,tflag,rh,dpdp,wdir,wspd,date,actual_hours,minutes,seconds,timestamp
1,#USM00072528,1929,12,16,99,1130,3,,cdmp-usm,429411,...,,-9999,-9999,90,30,1929-12-16,0,0,0,1929-12-16 00:00:00
2,#USM00072528,1929,12,16,99,1130,3,,cdmp-usm,429411,...,,-9999,-9999,90,30,1929-12-16,0,0,0,1929-12-16 00:00:00
3,#USM00072528,1929,12,16,99,1130,3,,cdmp-usm,429411,...,,-9999,-9999,90,40,1929-12-16,0,0,0,1929-12-16 00:00:00
5,#USM00072528,1929,12,16,99,2130,4,,cdmp-usm,429411,...,,-9999,-9999,45,50,1929-12-16,0,0,0,1929-12-16 00:00:00
6,#USM00072528,1929,12,16,99,2130,4,,cdmp-usm,429411,...,,-9999,-9999,45,60,1929-12-16,0,0,0,1929-12-16 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108384,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,B,28,266,77,139,2024-02-28,13,36,19,2024-02-28 13:36:19
5108385,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,B,28,274,73,105,2024-02-28,13,36,56,2024-02-28 13:36:56
5108386,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,B,27,277,72,111,2024-02-28,13,37,3,2024-02-28 13:37:03
5108387,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,B,25,289,91,189,2024-02-28,13,38,46,2024-02-28 13:38:46
5108388,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,B,24,291,90,185,2024-02-28,13,39,6,2024-02-28 13:39:06

## Functions

### Relative Humidity to Ice

In [7]:
#Calculating Relative Humidity to Ice Steps
#1. Create an empty array to store the rh_ice values
#2. If not a null value proceed
#3. Standardize relative humidity to a decimal value
#4. Calculate saturation water vapor pressure
#5. Calculate saturation water vapor pressure over ice
#6. Calculate actual vapor pressure
#7. Calculate relative humidity to ice
#8. Return relative humidity to ice values

def relative_humidity_to_ice(temp_k, rh_w):
    
    # Initialize an empty array to store all calculations to be returned
    rh_ice = np.empty(len(temp_k))
    
    # Create a condition that if the value is not one of the following, the value is saved
    condition = (temp_k != -9999) & (temp_k != -8888) & (rh_w != -9999) & (rh_w != -8888)

    # Calculate rh_ice for non-null values
    t_non_null = temp_k[condition]
    #We divide first by 10 to standardize relative humidity (rh) to a percentage (ex: 11 = 1.1%). 
    #We than convert the percentage into a decimal value by dividing by 100. 
    rh_w_non_null = (rh_w[condition] / 10) / 100  
    
    # Ensure temperature is a non-zero number so we do not divide by 0. 
    t = t_non_null[t_non_null != 0]
    
    #Values needed for Goff-Gratch Equation
    t_st = 373.13 #steam-point temperature
    e_st = 1013.25 #steam-point pressure
    to = 273.16 #ice-point (triple point) temperature
    e_i0 = 6.1173 #ice-point pressure
    
    #Calculate log_ew (Saturation Water Vapor Pressure)
    log_ew = -7.90298 * (t_st / t - 1) + 5.02808 * np.log10(t_st / t) \
             - 1.3816e-7 * (10**(11.344 * (1 - t / t_st)) - 1) \
             + 8.1328e-3 * (10**(-3.49149 * (t_st / t - 1)) - 1) + np.log10(e_st)
    ew = np.exp(log_ew)
    
    #Calculate log_ei (Saturation Water Vapor Pressure Over Ice)
    log_ei = -9.09718 * (to / t - 1) - 3.56654 * np.log10(to / t) + 0.876793 * (1 - t / to) \
             + np.log10(e_i0)
    ei = np.exp(log_ei)

    #Calculate actual vapor pressure
    e_press = rh_w_non_null * ew
    
    #Calculcate relative humidity to ice
    rh_ice[condition] = e_press / ei
    
    #If value was -9999 or -8888, assigning -9999 value
    #~ denotes when the condition above is false and assigns them with -9999
    rh_ice[~condition] = -9999
    
    #Return all values calculated
    return rh_ice

## Drift Formula

In [8]:
# distance traveled = windspeed * elapsed time
# WSPD is the reported wind speed (meters per second to tenths, e.g., 11 = 1.1 m/s)

def drift_dist(df, speed, timestamp, etime):

    valid_indices = (df[etime] != -9999) & (df[etime] != -8888) & (df[speed] != -9999) & (df[speed] != -8888)

    df['time_diff'] = df[timestamp].diff().dt.total_seconds().fillna(0)
    df.loc[df['etime'] == 0, 'time_diff'] = 0   #Set time_diff to 0 if etime is 0
    
    df.loc[valid_indices, 'distance [meters]'] = (df.loc[valid_indices, speed] / 10) * df.loc[valid_indices, 'time_diff']

    df['distance [miles]'] = df['distance [meters]']/1609.344    # convert meters to miles
    
    df['daily_drift [miles]'] = df.groupby(df[timestamp].dt.date)['distance [miles]'].cumsum()
    
    return df

df_std = drift_dist(df_std, 'wspd', 'timestamp', 'etime')

df_std

,id_,year,month,day,hour,reltime,numlev,p_src,np_src,lat,...,wspd,date,actual_hours,minutes,seconds,timestamp,time_diff,distance [meters],distance [miles],daily_drift [miles]
1,#USM00072528,1929,12,16,99,1130,3,,cdmp-usm,429411,...,30,1929-12-16,0,0,0,1929-12-16 00:00:00,0.0,0.0,0.000000,0.000000
2,#USM00072528,1929,12,16,99,1130,3,,cdmp-usm,429411,...,30,1929-12-16,0,0,0,1929-12-16 00:00:00,0.0,0.0,0.000000,0.000000
3,#USM00072528,1929,12,16,99,1130,3,,cdmp-usm,429411,...,40,1929-12-16,0,0,0,1929-12-16 00:00:00,0.0,0.0,0.000000,0.000000
5,#USM00072528,1929,12,16,99,2130,4,,cdmp-usm,429411,...,50,1929-12-16,0,0,0,1929-12-16 00:00:00,0.0,0.0,0.000000,0.000000
6,#USM00072528,1929,12,16,99,2130,4,,cdmp-usm,429411,...,60,1929-12-16,0,0,0,1929-12-16 00:00:00,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108384,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,139,2024-02-28,13,36,19,2024-02-28 13:36:19,35.0,486.5,0.302297,341.513809
5108385,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,105,2024-02-28,13,36,56,2024-02-28 13:36:56,37.0,388.5,0.241403,341.755212
5108386,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,111,2024-02-28,13,37,3,2024-02-28 13:37:03,7.0,77.7,0.048281,341.803493
5108387,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,189,2024-02-28,13,38,46,2024-02-28 13:38:46,103.0,1946.7,1.209623,343.013116
5108388,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,185,2024-02-28,13,39,6,2024-02-28 13:39:06,20.0,370.0,0.229907,343.243023

### Calculate New Latitude and Longitude from Drift Values

In [9]:
# WDIR is the reported wind direction (degrees from north, 90 = east)
# -8888 and -9999 are exceptions

R_earth = 6.3781e6  # Average Equatorial Radius of Earth in meters

def drift_coord(lat1, long1, bearing, distance):

    bearing_rad = bearing * np.pi/180         # Convert bearing from degrees to radians
   # lat1_rad = (lat1/10000) * np.pi/180       # Normalize latitude decimal place and convert from degrees to radians
   # long1_rad = (long1/10000) * np.pi/180     # Normalize longtitude decimal place and convert from degrees to radians
    lat1_rad = lat1 * (np.pi/180)
    long1_rad = long1 * (np.pi/180)
    
    ang_dist = distance/R_earth             # Angular Distance d/R

    lat2_rad = np.arcsin(np.sin(lat1_rad) * np.cos(ang_dist) + np.cos(lat1_rad) * np.sin(ang_dist) * np.cos(bearing))
    # New Latitude calculation in radians
    lat2_deg = lat2_rad * 180/np.pi     # Convert back to degrees
   

    long2_rad = long1_rad + np.arctan2((np.sin(bearing) * np.sin(ang_dist) * np.cos(lat1_rad)), (np.cos(ang_dist) - (np.sin(lat1_rad) * np.sin(lat2_rad))))
    # New Longtitude calculation in radians
    long2_deg = long2_rad * 180/np.pi     # Convert back to degrees
   

    return lat2_deg, long2_deg

print(drift_coord(40.8650, -72.8628, 5, 10))

(40.865025481899465, -72.86291390650146)

### Capture when Temp is below -42 Fahrenheit, RH is above 100%, and Pressure Altitude is below 43,000 feet

In [10]:
#Function for ISSR
def issr(temp_f, rhi, press_alt):
    result = pd.Series('no', index = temp_f.index)
    
    result[(temp_f < -42) & (rhi > 1) & (press_alt < 43000)] = 'yes'
    
    return result

## Adding Conversions to Dataframe

### Filter to 2010-2024

In [11]:
#Filtering dataset to 2010-2024 data to reduce need to add conversions to entire dataset
df_std = df_std[(df_std['year'] >= 2010) & (df_std['year'] <= 2024)]

### Conversions

In [12]:
#Fahrenheit - Applying Pandas Vectorization
warnings.filterwarnings("ignore")
condition = (df_std['temp'] != -9999) & (df_std['temp'] != -8888)
df_std['temp_f'] = df_std['temp']
df_std.loc[condition, 'temp_f'] = df_std.loc[condition, 'temp_f'] /10 * (9/5) + 32

In [13]:
#Kelvins - Applying Pandas Vectorization
warnings.filterwarnings("ignore")
condition2 = (df_std['temp'] != -9999) & (df_std['temp'] != -8888)
df_std['temp_k'] = df_std['temp']
df_std.loc[condition2, 'temp_k'] = df_std.loc[condition2, 'temp_k'] / 10 + 273.15

In [14]:
#Pressure Altitude - Applying Pandas Vectorization
warnings.filterwarnings("ignore")
condition3 = (df_std['press'] != -9999) & (df_std['press'] != -8888)
df_std['press_alt'] = df_std['press'] / 100
df_std.loc[condition3, 'press_alt'] = round(((1 - (df_std.loc[condition3, 'press_alt'] / 1013.25) ** 0.190284) \
                                                * 145366.45), 2)

In [15]:
#Relative Humidity to Ice - References Function
warnings.filterwarnings("ignore")
df_std['rh_ice'] = relative_humidity_to_ice(df_std['temp_k'], df_std['rh'])
df_std['rh_ice'] = df_std['rh_ice'].round(3)

In [16]:
#ISSC - References Function
warnings.filterwarnings("ignore")
df_std['issc'] = issr(df_std['temp_f'], df_std['rh_ice'], df_std['press_alt'])

In [17]:
# Create 'Volume' attribute. (Instances of ISS on specifc day / How many times that day occurs in dataframe) 

df_std['day_of_year'] = df_std['month'].astype(str) + '-' + df_std['day'].astype(str)

# Group by 'day_of_year' and 'year', and check if 'ISSC' was 'yes'
issc_presence = df_std.groupby(['day_of_year', 'year'])['issc'].apply(lambda x: (x == 'yes').any()).reset_index(name='issc_yes')

# Count how many years had 'ISSC' marked as 'yes' for each day_of_year
issc_yes_count = issc_presence.groupby('day_of_year')['issc_yes'].sum()

# Calculate the total number of observed years for each day_of_year
total_years_observed = issc_presence.groupby('day_of_year')['year'].nunique()

# Calculate 'volume'
volume_ratio = issc_yes_count / total_years_observed

# Convert volume_ratio Series to a DataFrame for merging
volume_df = volume_ratio.reset_index(name='volume')

df_std = pd.merge(df_std, volume_df, on='day_of_year', how='left')

In [18]:
#DataFrame with new added conversion columns
print(city)
df_std

Buffalo

,id_,year,month,day,hour,reltime,numlev,p_src,np_src,lat,...,distance [meters],distance [miles],daily_drift [miles],temp_f,temp_k,press_alt,rh_ice,issc,day_of_year,volume
0,#USM00072528,2010,1,1,0,2300,185,ncdc6301,ncdc6301,429411,...,134352.0,83.482462,83.482462,34.16,274.35,708.35,0.945,no,1-1,0.066667
1,#USM00072528,2010,1,1,0,2300,185,ncdc6301,ncdc6301,429411,...,135.0,0.083885,83.566348,32.72,273.55,1036.88,0.949,no,1-1,0.066667
2,#USM00072528,2010,1,1,0,2300,185,ncdc6301,ncdc6301,429411,...,144.9,0.090037,83.656384,32.00,273.15,1345.32,0.953,no,1-1,0.066667
3,#USM00072528,2010,1,1,0,2300,185,ncdc6301,ncdc6301,429411,...,813.7,0.505610,84.161994,29.30,271.65,2498.86,0.978,no,1-1,0.066667
4,#USM00072528,2010,1,1,0,2300,185,ncdc6301,ncdc6301,429411,...,1383.7,0.859791,85.021785,22.46,267.85,4615.31,0.980,no,1-1,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007115,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,486.5,0.302297,341.513809,-62.68,220.55,80339.30,0.035,no,2-28,0.000000
2007116,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,388.5,0.241403,341.755212,-57.10,223.65,80712.18,0.034,no,2-28,0.000000
2007117,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,77.7,0.048281,341.803493,-56.02,224.25,80780.97,0.033,no,2-28,0.000000
2007118,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,1946.7,1.209623,343.013116,-52.06,226.45,81907.92,0.030,no,2-28,0.000000
2007119,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,,429411,...,370.0,0.229907,343.243023,-51.88,226.55,82141.96,0.029,no,2-28,0.000000

## Filter Dataframe (Data from 2023 AND Pressure Altitude under 43,000 feet)

In [19]:
#DataFrame is all data that is in the year 2023 and pressure altitude is under 43,000 ft.
df_clean = df_std[(df_std['year'] >= 2010) & (df_std['press_alt'] <= 43000) ]

## Normalize Latitude and Longitude columns

In [20]:
df_clean['lat'] = df_clean['lat'] / 10000.0
df_clean['lon'] = df_clean['lon'] / 10000.0

## Apply Drift_Coord Function

In [21]:
df_clean['new_lat'] = df_clean['lat'].astype(float)
df_clean['new_long'] = df_clean['lon'].astype(float)

df_clean.sort_values(by=['year', 'month', 'day', 'hour'], inplace=True)


temp_df = df_clean.copy()

# Iterate through each group and update 'new_lat' and 'new_long' where applicable
for (year, month, day, hour), group in temp_df.groupby(['year', 'month', 'day', 'hour']):
    # Skip the first row of each group as it's already initialized
    for i in range(1, len(group)):
        # Access the index of the current and previous row
        curr_index = group.index[i]
        prev_index = group.index[i - 1]
        
        # Use 'drift_coord' with the previous row's 'new_lat' and 'new_long' to update the current row
        new_lat, new_long = drift_coord(temp_df.at[prev_index, 'new_lat'], temp_df.at[prev_index, 'new_long'],
                                        temp_df.at[curr_index, 'wdir'], temp_df.at[curr_index, 'distance [meters]'])
        
        # Update 'new_lat' and 'new_long' in the original DataFrame
        df_clean.at[curr_index, 'new_lat'] = new_lat
        df_clean.at[curr_index, 'new_long'] = new_long

In [22]:
def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Difference in coordinates
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    # Haversine formula
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    
    # Earth radius in kilometers
    R = 6371.0
    
    # Distance in meters
    distance = R * c
    distance = distance * 1000
    return distance

df_clean['distance_to_origin'] = df_clean.apply(
    lambda row: haversine(row['lat'], row['lon'], row['new_lat'], row['new_long']), axis = 1
)

print(haversine(40.865, -72.8628, 40.45865, -73.6428))

79813.07621529835

In [23]:
df_clean['distance_to_origin [miles]'] = df_clean['distance_to_origin'] * 0.000621371  # Convert meters to miles

## Adding Floor, Ceiling, and Vertical Depth

In [24]:
df_clean.reset_index(inplace = True, drop = True)

In [25]:
# Add 'floor' and 'ceiling' columns to the DataFrame with default values of 0.
df_clean['floor'] = 0
df_clean['ceiling'] = 0
df_clean['vertical_depth'] = -10
# Identify the first and last 'yes' entries in the 'issc' column for each day.

def identify_floor_ceiling(group):
    # Identify the index of the first and last 'yes' in 'issc' for each group
    issc_yes_indices = group.index[group['issc'] == 'yes'].tolist()
    if issc_yes_indices:
        altitude_value = group.loc[issc_yes_indices[0], 'press_alt']
        altitude_value2 = group.loc[issc_yes_indices[-1], 'press_alt']
        
        # If there's only one 'yes' entry, mark it as both floor and ceiling
        if len(issc_yes_indices) == 1:
            group.loc[issc_yes_indices[0], 'floor'] = altitude_value
            group.loc[issc_yes_indices[0], 'ceiling'] = altitude_value
            group['vertical_depth'] = 0 # no depth if only 1 'yes' entry
        else:
            # Mark the first and last 'yes' entries appropriately
            group.loc[issc_yes_indices[0], 'floor'] = altitude_value
            group.loc[issc_yes_indices[-1], 'ceiling'] = altitude_value2
            vertical_depth_value = altitude_value2 - altitude_value
            group['vertical_depth'] = vertical_depth_value
    return group

# Applying the function to each group
df_clean = df_clean.groupby(['year', 'month', 'day', 'hour'], as_index = False).apply(identify_floor_ceiling)

df_clean.reset_index(inplace = True)

df_clean[df_clean['issc'] == 'yes']

,level_0,level_1,id_,year,month,day,hour,reltime,numlev,p_src,...,issc,day_of_year,volume,new_lat,new_long,distance_to_origin,distance_to_origin [miles],floor,ceiling,vertical_depth
383664,2716,383664,#USM00072528,2013,9,7,0,2301,207,ncdc6301,...,yes,9-7,0.071429,42.955728,-78.716050,1642.969035,1.020893,33984.70,0.00,5373.56
383665,2716,383665,#USM00072528,2013,9,7,0,2301,207,ncdc6301,...,yes,9-7,0.071429,42.943599,-78.722853,425.126229,0.264161,0.00,0.00,5373.56
383666,2716,383666,#USM00072528,2013,9,7,0,2301,207,ncdc6301,...,yes,9-7,0.071429,42.924504,-78.725496,1921.958122,1.194249,0.00,0.00,5373.56
383667,2716,383667,#USM00072528,2013,9,7,0,2301,207,ncdc6301,...,yes,9-7,0.071429,42.941050,-78.734184,1244.113529,0.773056,0.00,0.00,5373.56
383668,2716,383668,#USM00072528,2013,9,7,0,2301,207,ncdc6301,...,yes,9-7,0.071429,42.934277,-78.714585,836.068265,0.519509,0.00,0.00,5373.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529343,10458,1529343,#USM00072528,2024,2,23,0,2310,265,ncdc-nws,...,yes,2-23,0.133333,42.936294,-78.712757,731.884370,0.454772,33504.21,33504.21,0.00
1530288,10464,1530288,#USM00072528,2024,2,26,0,2306,265,ncdc-nws,...,yes,2-26,0.066667,42.944036,-78.722587,443.505746,0.275582,27733.23,27733.23,0.00
1530611,10466,1530611,#USM00072528,2024,2,27,0,2302,251,ncdc-nws,...,yes,2-27,0.066667,42.948396,-78.735371,1567.053637,0.973722,30853.68,0.00,742.51
1530612,10466,1530612,#USM00072528,2024,2,27,0,2302,251,ncdc-nws,...,yes,2-27,0.066667,42.941926,-78.720764,177.402298,0.110233,0.00,0.00,742.51
1530613,10466,1530613,#USM00072528,2024,2,27,0,2302,251,ncdc-nws,...,yes,2-27,0.066667,42.952835,-78.719325,1305.345291,0.811104,0.00,31596.19,742.51

In [26]:
df_clean

,level_0,level_1,id_,year,month,day,hour,reltime,numlev,p_src,...,issc,day_of_year,volume,new_lat,new_long,distance_to_origin,distance_to_origin [miles],floor,ceiling,vertical_depth
0,0,0,#USM00072528,2010,1,1,0,2300,185,ncdc6301,...,no,1-1,0.066667,42.941100,-78.718900,0.000000,0.000000,0.0,0.0,-10.0
1,0,1,#USM00072528,2010,1,1,0,2300,185,ncdc6301,...,no,1-1,0.066667,42.940998,-78.717249,134.849720,0.083792,0.0,0.0,-10.0
2,0,2,#USM00072528,2010,1,1,0,2300,185,ncdc6301,...,no,1-1,0.066667,42.939800,-78.718806,144.738700,0.089936,0.0,0.0,-10.0
3,0,3,#USM00072528,2010,1,1,0,2300,185,ncdc6301,...,no,1-1,0.066667,42.933825,-78.719871,812.794202,0.505047,0.0,0.0,-10.0
4,0,4,#USM00072528,2010,1,1,0,2300,185,ncdc6301,...,no,1-1,0.066667,42.945148,-78.702846,1382.159687,0.858834,0.0,0.0,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531035,10469,1531035,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,...,no,2-28,0.000000,42.936751,-78.713342,662.261959,0.411510,0.0,0.0,-10.0
1531036,10469,1531036,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,...,no,2-28,0.000000,42.967308,-78.704202,3150.089462,1.957374,0.0,0.0,-10.0
1531037,10469,1531037,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,...,no,2-28,0.000000,42.939413,-78.776282,4674.790298,2.904779,0.0,0.0,-10.0
1531038,10469,1531038,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,...,no,2-28,0.000000,42.944006,-78.721678,394.360515,0.245044,0.0,0.0,-10.0
1531039,10469,1531039,#USM00072528,2024,2,28,12,1100,161,ncdc-nws,...,no,2-28,0.000000,42.949194,-78.726639,1098.575720,0.682623,0.0,0.0,-10.0

## Export to Excel

In [ ]:
dfclean.to_csv(f'{city}_issr2010_2024.csv', index = False)